/*1. GENERAL STYLES*/

*, *:before, *:after{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	display: block;
}

head {
	display: none;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 100%;
	cursor: auto;
	width: 100%;
	font-size: 16pt;
}

div {
	display: block;
}

img {
  	border: 0;
}

ul {
	list-style: none;
	margin: 0;
}
a {
	text-decoration: none;
    text-transform: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p{
	line-height: 1;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-family: 'Exo', sans-serif;
	font-size: 32pt;
	font-weight: 600;
	padding: 1em;
}
h2 {
    font-family: 'Exo', sans-serif;
    font-size: 28pt;
    font-weight: 500;
    padding: 1em;
}
h3 {
	font-size: 13pt;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    padding: 0.75em 0em;
}
h4 {
	font-size: 12pt;
}
h5 {
	font-size: 10pt;
}
p {
	text-rendering: optimizeLegibility;
}
/*2. Header Styles*/

.header-wrapper {
	background-color: #fff;
	color:#2D2D2D;
	height: 75px;
}
span.logo {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
}
span.logo a {
	display: block;
	padding: 0.5em 1em;
}
span.logo a img {
	max-width: 180px;
}
.header-wrapper nav {
    display: inline-block;
    width: 75%;
    line-height: 72px;
}

.header-wrapper nav ul {
    height: 100%;
    float: right
}

nav label, nav input {
	display: none;
}
.nav-item {
	display: inline-block;
	font-size: 14pt;
	font-weight: 400;
	padding: 0 2.5em;
    transition: all 0.1s ease-in-out;
}

.nav-item a {
    display: inline-block;
}

#nav-about:hover {
	border-bottom: 3px solid #A846A0;
}
#nav-references:hover {
	border-bottom: 3px solid #04E8A0;
}
#nav-authors:hover {
	border-bottom: 3px solid #2D2D2D;
}

.wrapper{
    margin: 0 auto;
}
section div {
	height: 100%;
    padding: 0.5em 1em;
}
/*3. Layer 1: The Game*/
.first-layer {
	background-color: #ddd;
	color: #2D2D2D;
}

.game-container {
    margin: 0 auto;
    width: 85%;
}

.game-container canvas {
	width: 100%;
	background-color: #2D2D2D;
}

.game-bar {
    width: 100%;
    background-color: #04E8A0;
    display: inline-block;
}
.button {
    display: inline-block;
    float: left;
	margin: 0 1em;
}

.button img{
	max-width: 30px;
    display: inline-block;
}

.counter {
	float: right;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
	margin: 1% 1em 0;
}
.counter p {
	font-family: 'Exo', sans-serif;
	font-weight: 600;
}

/*4. Layer 2: About*/
.second-layer {
	background-color: #A846A0;
	color: #fff;
    padding: 5%;
}
.wrapper > div {
	padding: 0.5em 10%;
}
.instructions div img {
	width: 30px;
	max-width: 30%;
	display: inline-block;
	margin: 0 5%;
}
.instructions div p {
	padding: 0.5em 0;
	display: inline-block;
	max-width: 65%;
}
.contact p {
	display: inline-block;
}
.rrss {
	margin: 0 auto;
}
.rrss a {
	display: inline-block;
	width: 48%;
	text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.tw {
	display: inline-block;
	max-height: 55px;
}
.tw:hover {
	filter: drop-shadow(0px 0px 2px #55ACEE);
	-webkit-filter: drop-shadow(0px 0px 2px #55ACEE);
}
.fb {
    display: inline-block;
    max-height: 30px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.fb:hover {
	filter: drop-shadow(0px 0px 3px #3B5999);
	-webkit-filter: drop-shadow(0px 0px 3px #3B5999);
}
.e-mail {
	font-family: 'Exo', sans-serif;
	font-size: 18pt;
	font-weight: 400;
	display: inline-block;
}
/*5. Layer 3: References*/
.third-layer {
	background-color: #04E8A0;
	color: #fff;
    padding: 5%;
}
/*6. Layer 4: Authors*/
.fourth-layer {
	background-color: #2D2D2D;
	color: #fff;
    padding: 5%;
}

.author-wrapper {
	display: inline-block;
	width: 32%;
    text-align: center;
	vertical-align: top;
}
.author-wrapper img {
	max-width: 50%;
	border: 3px solid;
    border-radius: 50%;
    box-sizing: border-box;
}
.author-wrapper img#pink {
	border-color: #A846A0;
}
.author-wrapper img#green {
	border-color: #04E8A0;
}
.author-wrapper img#gray {
	border-color: #ddd;
}
.author-wrapper div {
	width: 90%;
    margin: 0 auto;
}
.author-wrapper div p {
	font-size: 12pt;
	text-align: left;
}
/*7. Footer Styles*/


/* Media queries */
@media (max-width: 920px) {
}
@media (max-width: 680px) {
	nav {
		float: right;
		width: auto !important;
		position: relative;
		height: 100%;
	}
	nav label {
		display: block;
		margin-top: 26px;
		margin-right: 30px;
		padding-bottom: 16px;
	}
	nav label span {
		display: block;
		position: relative;
		width: 30px;
		height: 3px;
		background-color: #222;
		cursor: pointer;
	}
	nav label span:after, nav label span:before {
		position: absolute;
		content: '';
		width: 30px;
		height: 3px;
		background-color: #222;
	}
	nav label span:after {
		margin-top: 16px;
	}
	nav label span:before {
		margin-top: 8px;
	}
	nav ul {
		display: none;
		position: absolute;
		top: 72px;
		right: 0;
		height: auto !important;
		background: white;
	}
	nav input:checked + ul {
		display: block;
	}
	nav ul li {
		border-bottom: 1px solid #ddd;
	}
	nav ul li:last-child {
		border: none;
	}
	.nav-item {
		display: block;
		z-index: 100;
	}
	.nav-item:hover {
		border: none !important;
	}
	.rrss a {
		display: block;
		margin: 0 auto;
	}
	.fourth-layer .author-wrapper {
		width: 49%;
		margin: 1em auto;
	}
	.fourth-layer .author-wrapper:last-child {
		display: block;
	}
}
@media (max-width: 420px) {
	.second-layer div h2 {
		padding: 5%;
	}
	.second-layer .e-mail {
		font-size: .8em;
	}
	.third-layer div {
		padding: 0;
	}
	.third-layer div h2 {
		text-align: center;
		padding: 5%;
	}
	.fourth-layer div {
		padding: 0;
	}
	.fourth-layer div h2{
		text-align: center;
	}
	.fourth-layer .author-wrapper {
		width: 100%;
	}
}
