/*1. GENERAL STYLES*/

*, *:before, *:after{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	display: block;
}

head {
	display: none;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 100%;
	cursor: auto;
	width: 100%;
}

div {
	display: block;
}

img {
  	border: 0;
}

ul {
	list-style: none;
	margin: 0;
}
a {
	text-decoration: none;
    text-transform: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p{
	line-height: 1;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-family: 'Exo', sans-serif;
	font-size: 32pt;
	font-weight: 600;
	padding: 1em;
}
h2 {
    font-family: 'Exo', sans-serif;
    font-size: 28pt;
    font-weight: 500;
    padding: 1em;
}
h3 {
	font-size: 18pt;
	font-weight: 400;
	padding: 0.5em 0em;
}
h4 {
	font-size: 14pt;
}
h5 {
	font-size: 12pt;
}
p {
	font-size: 18pt;
	text-rendering: optimizeLegibility;
}
/*2. Header Styles*/

.header-wrapper {
	background-color: #fff;
	color:#2D2D2D;
	height: 75px;
}
span.logo {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
}
span.logo a {
	display: block;
	padding: 0.5em 1em;
}
span.logo a img {
	max-width: 180px;
}
.header-wrapper nav {
    display: inline-block;
    width: 75%;
    line-height: 75px;
}

.header-wrapper nav ul {
    height: 100%;
    float: right
}

.nav-item {
	display: inline-block;
	font-size: 14pt;
	font-weight: 400;
	padding: 0 2.5em;
}

.nav-item a {
    display: inline-block;
}

.wrapper{
    margin: 0 auto;
}
section div {
	height: 100%;
    padding: 1em 2em;
}
/*3. Layer 1: The Game*/
.first-layer {
	background-color: #ddd;
	color: #2D2D2D;
}

.game-container {
    margin: 0 auto;
    width: 85%;
}

.game-container canvas {
	width: 100%;
	background-color: #222;
}

.game-bar { 
    width: 100%;
    background-color: #04E8A0;
    display: inline-block;
}
.button {
    display: inline-block;
    float: left
}

.button img{
	max-width: 30px;
    display: inline-block;
}

.counter {
	float: right;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0.5%;
}
.counter p {
	font-family: 'Exo', sans-serif;
	font-weight: 600;
}

/*4. Layer 2: About*/
.second-layer {
	background-color: #A846A0;
	color: #fff;
    padding: 2em;
}
.wrapper div {
	padding: 0.5em 5em;
}
.instructions div img {
	max-width: 30px;
	display: inline-block;
	margin: 0 2em;
}
.instructions div p {
	padding: 0.5em 0;
	display: inline-block;
}
.contact p{
	display: inline-block;
}
.rrss {
	margin: 0 auto;
}
.rrss a{
	display: inline-block;
    margin: 0.5em 10em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.tw {
	display: inline-block;
	max-height: 55px;
}
.tw:hover {
	filter: drop-shadow(0px 0px 2px #55ACEE);
	-webkit-filter: drop-shadow(0px 0px 2px #55ACEE);
}
.fb {
    display: inline-block;
    max-height: 30px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.fb:hover {
	filter: drop-shadow(0px 0px 3px #3B5999);
	-webkit-filter: drop-shadow(0px 0px 3px #3B5999);
}
.e-mail {
	font-family: 'Exo', sans-serif;
	font-size: 18pt;
	font-weight: 400;
	display: inline-block;
}
/*5. Layer 3: References*/
.third-layer {
	background-color: #04E8A0;
	color: #fff;
    padding: 2em;
}
/*6. Layer 4: Authors*/
.fourth-layer {
	background-color: #2D2D2D;
	color: #fff;
    padding: 2em;
}

.author-wrapper {
	display: inline-block;
	width: 33%;
    text-align: center;
}
.author-wrapper img {
	max-width: 45%;
    border-radius: 50%;
    box-sizing: border-box;
}
.author-wrapper img#pink {
	border: 5px solid #A846A0;
}
.author-wrapper img#green {
	border: 5px solid #04E8A0;
}
.author-wrapper img#gray {
	border: 5px solid #ddd;
}
.author-wrapper div {
	width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}
.author-wrapper div p {
	font-size: 12pt;
	text-align: left;
}
/*7. Footer Styles*/
