/*1. GENERAL STYLES*/

*, *:before, *:after{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	display: block;
}

head {
	display: none;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 100%;
	cursor: auto;
	width: 100%;
}

div {
	display: block;
}

img {
  	border: 0;
}

ul {
	list-style: none;
	margin: 0;
}
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	line-height: 1;
	font-weight: 300;
	color: #685F74;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 24pt;
	font-style: bold;
}
h2 {
	font-size: 18pt;
}
h3 {
	font-size: 12pt;
}
h4 {
	font-size: 11pt;
}
h5 {
	font-size: 8pt;
}

/*2. Header Styles*/

.header-wrapper {
	background-color: #fff;
	color:#2D2D2D;
	height: 103px;
}
span.logo {
    display: inline-block;
    width: 20%;
    height: 100%;
}
span.logo a {
	display: block;
	padding: 0.5em 1em;
}
span.logo a img {
	max-width: 250px;
}
nav {
    display: inline-block;
    width: 70%
}

.header-wrapper nav ul {
	height: 100%;
	float: right;
	margin: 1em;
}
.nav-item {
	display: inline-block;
	font-size: 14pt;
}
.nav-item a {
	padding: 1em 2.5em;
}

/*3. Layer 1: The Game*/
.first-layer {
	background-color: #ddd;
	color: #2D2D2D;
}
.game {
	height: 100%;
}
/*4. Layer 2: About*/
.second-layer {
	background-color: #A846A0;
	color: #fff;
}
.second-layer div h2{
	font-weight: 400;
	color: #fff;
	padding: 0.5em 1em;
}
/*5. Layer 3: Authors*/
/*6. Layer 4: References*/
/*7. Footer Styles*/